.content{
    display: inline-block;
    position: relative;
    align-items: center;
    list-style: none;
    width: 100%;
}

.contentRound{
    background-color: rgb(72, 72, 72);
    border-top-left-radius: 50px;
}

h1{
    font-family: Nunito, serif;
    color: rgb(255, 98, 0);
    padding: 40px;
}

.contentStructure{
    list-style: none;
    width: 90%;
    height: 800px;
    border-radius: 30px;
}

.contentElement{
    display: flex;
    margin-left: 50px;
    margin-top: 12px;
    width: 92%;
    border-radius: 20px;
    background-color: #555555;
    position: relative;
}

.elementText{
    padding: 20px;
}

.elementLabel{
    padding: 20px 20px;
    font-size: 25px;
    display: flex;
    cursor: pointer;
    color: rgb(31, 31, 31);
    border-radius: 100px;
}
.elementIcon{
    left: 58%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 20px 40px;
}

.contentElement i:hover{
    color: rgb(1, 151, 197);
}
