.content{
    display: inline-block;
    position: relative;
    align-items: center;
    list-style: none;
    width: 100%;
}

.contentRound{
    background-color: var(--grey);
    border-top-left-radius: 50px;
}

h1{
    font-family: Nunito, serif;
    color: var(--black);
    padding: 40px;
}

.contentStructure{
    list-style: none;
    width: 90%;
    height: 800px;
    border-radius: 30px;
}

.contentElement{
    display: flex;
    margin-left: 50px;
    margin-top: 12px;
    width: 92%;
    border-radius: 20px;
    background-color: var(--grey);
    border: 1px solid var(--black);
    position: relative;
}
.contentIcons{
    position: absolute;
    right: 2%;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.contentElement:hover .contentIcons {
    opacity: 1;
}
.contentElement:hover{
    background-color: var(--white);
}
.elementText{
    padding: 20px;
}

.elementLabel{
    padding: 20px 20px;
    font-size: 25px;
    display: flex;
    cursor: pointer;
    color: rgb(31, 31, 31);
    border-radius: 100px;
}

.elementIcon{
    cursor: pointer;
    display: inline-block;
    padding: 20px 20px;
}
