@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
:root {
    --grey: #efefef;
    --white: #ffffff;
    --black: #000000;
}

/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--white);
    font-family: Nunito, serif;
}

/*Navbar*/
li, a, button{
    font-family: Nunito, serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
    text-decoration: none;
}
.logo{
    position: absolute;
    cursor: pointer;
    width: 350px;
    object-fit: cover;
    left: 0;
}
.nav_links{
    list-style: none;
    margin: 20px;
}
.nav_links li{
    display: inline-block;
}
.nav_links li a{
    border-radius: 200px;
    padding: 15px 25px;
}
.nav_links li a:hover{
    color: var(--white);
    background-color: var(--black);
    transition: all 0.3s ease 0s;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0;
    background-color: var(--white);
}

/*Sidebar*/
.main-container{
    display: flex;
}
.sidebar{
    min-height: 100vh;
    min-width: 250px;
    background-color: var(--white);
    display: flex;
}
button {
    border: 1px solid var(--black);
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    background-color: var(--black);
    color: var(--white);

}
.add{
    font-weight: bolder;
    margin-left: 20px;
}
.add :hover{
    transition: all 0.3s ease 0s;
    background-color: var(--white);
    color: var(--black);
}
.sidebar_links li{
    margin-left: 30px;
    display: flex;
    margin-inline: auto;
}
.innerText{
    margin-left: 30px;
    font-weight: 500;
    font-size: 15px;
    font-family: Nunito, serif;
}
@media only screen and (max-width: 992px) {
    .sidebar{
        display: none;
    }
    .box{
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    .box{
        display: none;
    }
}
.sidebar_links li{
    border-radius: 50px;
}
.sidelink :hover{
    color: var(--white);
    background-color: var(--black);
}
.sidebar_links li a{
    transition: all 0.3s ease 0s;
    padding: 20px 10px;
    border-radius: 50px;
}
ul{
    min-width: 25vh;
}

/*Progress Bar*/
.progress-bar {
    margin-top: 20px;
    position: relative;
    height: 8px;
    width: 150px;
    border-radius: 50px;
    border: 1px solid rgb(152, 152, 152);
    margin-left: 30px;
}
.storage_Text{
    margin-left: 30px;
    font-size: 10px;
    font-weight: 200;
    padding-top: 10px;
    color: rgb(152, 152, 152);
}

/*Extend Cloud Button*/
.extend{
    color: rgb(152, 152, 152);
    padding: 7px 7px;
    font-size: 15px;
    font-weight: 100;
    margin-left: 20px;
    border-radius: 80px;
    border: 1px solid rgb(1, 151, 197);
    background-color: transparent;
}
.extend:hover {
    border: 1px solid rgb(255, 98, 0);
    color: rgb(255, 98, 0);
}

/*Content*/
.content{
    display: flex;
}