/* Container */
.login-container {
    font-family: Nunito, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    margin: 0;
    text-align: center;
}

.solid{
    margin-bottom: 10px;
}

.text-deco{
    text-decoration-line: underline;
}

/* Login Box */
.login-box {
    width: 20%;
    position: relative;
    text-align: center;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
    margin-bottom: 20px;
    color: var(--black);
}

/* Input Styles */
.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--black);
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Login Button */
button {
    background-color: var(--black);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #333;
    transition: background-color 0.3s ease;
}
