@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
/*General*/
:root {
    --grey: #bbbbbb;
    --white: #ffffff;
    --black: #000000;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Nunito, serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
    text-decoration: none;
}

body{
    background-color: var(--white);
}

/*Navbar CSS*/
li, a, button{
    font-family: Nunito, serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--black);


}
.logo{
    position: absolute;
    cursor: pointer;
    width: 350px;
    object-fit: cover;
    left: 0;
}
.nav_links{
    list-style: none;
    margin: 20px;

}
.nav_links li{
    display: inline-block;

}
.nav_links li a{
    border-radius: 200px;
    padding: 15px 25px;
}
.nav_links li a:hover{
    color: var(--white);
    background-color: var(--grey);
    transition: all 0.3s ease 0s;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0;
    background-color: var(--white);

}

/* Container */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    margin: 0;
    text-align: center;
}

/* Login Box */
.login-box {
    width: 20%;
    position: relative;
    text-align: center;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
    margin-bottom: 20px;
    color: var(--black);
}

/* Input Styles */
.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--black);
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}



/* Login Button */
button {
    background-color: var(--black);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #333;
    transition: background-color 0.3s ease;
}

.hr1{
    border: solid 1px var(--grey);
    border-radius: 50px;
    margin-bottom: 20px
}
