/*Content*/
.mid-container-s{
    background-color: var(--white);
    display: flex;
    justify-content: center;
    height: 100vh;
}

.content{
    display: flex;
}

.setting-list{
    list-style: none;
    border-radius: 30px;
}

.setting-item{
    margin-left: 5%;
}

.setting-item h2{
    margin-bottom: 10px;
}

.progress-bar {
    margin-left: 0;
}

.density-radio {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.density-radio li {
    width: 40%;
}

.settings-buttons{
    text-align: end;
}

.extend{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 80px;
    margin-left: 0;
}

.hr2{
    border: 1px solid var(--grey);
    border-radius: 50px;
    margin-bottom: 30px;
}

/* Additional CSS for styling radio buttons */
.setting-check{
    margin-bottom: 15px;
    font-size: 16px;
}

.radio-label {
    transform: scale(1.5);
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    border: 2px solid rgb(1, 151, 197);
    border-radius: 5px;
    margin: 5px;
    background-color: white;
    color: rgb(1, 151, 197);
}

input[type="radio"]:checked + label.radio-label {
    background-color:rgb(1, 151, 197);
    color: white;
}

.button {
    border-radius: 15px;
}

.save-button {
    background-color: white;
    border: 1px solid var(--green);
    color: var(--green);;
}

.dont-save-button {
    background-color: white;
    border: 1px solid var(--red);
    color: var(--red);
}

.button:hover {
    color: rgb(0, 0, 0);
    border: 1px solid black;
    transition: all 0.3s ease 0s;
}

#popup {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#confirmationDialogue {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#confirmationDialogue button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid rgb(26,115,232);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

